<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="/static/customer/images/favicon.ico" />
    <title data-cont="比特酒吧| BTC98 - The most professional and safe virtual digital currency trading platform [official website]"></title>
    <link rel="stylesheet" href="/static/customer/css/global.css" type="text/css">
    <link rel="stylesheet" href="/static/customer/css/main.css?v=1.0" type="text/css">
    <link rel="stylesheet" href="css/9coin.css" type="text/css">
    <link rel="stylesheet" href="css/jquery.circliful.css" type="text/css">
    <script type="text/javascript" src="/static/customer/js/plugin/jquery.1.11.0.min.js"></script>
    <script type="text/javascript" src="/static/customer/js/common/webHelper.min.js"></script>
    <script type="text/javascript" src="js/lang_ico.js"></script>
    <script type="text/javascript" src="/static/customer/js/coinuni.min.js?v=1.0"></script>
    <script type="text/javascript" src="/static/customer/js/common/os.js"></script>
    <script type="text/javascript" src="/static/customer/js/plugin/tmpl.js"></script>
    <script type="text/javascript" src="js/jquery.circliful.js"></script>
</head>

<body>
    <!-- 头部导航 -->
    <div class="xt_top_notice">
        <div class="w">
            <div class="left">
                <a href="" id="noticeId">
                    <p class="gfs center"></p>
                </a>
            </div>
            <div class="right">
                <div id="lang" class="right">
                    <span class="lang"><em class="flag"></em><em class="flagName"></em></span>
                    <div class="lanague">
                        <ul>
                            <li class="en_US"><a href="javascript:void(0)" onclick="cutLanguage('&lang=en_US')">English</a></li>
                            <!-- <li class="zh_TW"><a href="javascript:void(0)" onclick="cutLanguage('&lang=zh_TW')">繁體中文</a></li> -->
                            <li class="zh_CN"><a href="javascript:void(0)" onclick="cutLanguage('&lang=zh_CN')">简体中文</a></li>
                            <!-- <li class="ko_KR"><a href="javascript:void(0)" onclick="cutLanguage('&lang=ko_KR')">한국어</a></li>
                            <li class="ja_JP"><a href="javascript:void(0)" onclick="cutLanguage('&lang=ja_JP')">日本語</a></li>
                            <li class="ru_RU"><a href="javascript:void(0)" onclick="cutLanguage('&lang=ru_RU')">русский </a></li>
                            <li class="ar_AE" style="border-bottom: 0;"><a href="javascript:void(0)" onclick="cutLanguage('&lang=ar_AE')">العربية</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 中部内容 -->
    <div class="main">
        <div class="contain">
            <div class="top-fixed-nav">
                <div class="w">
                    <a href="/" class="logo"></a>
                    <ul class="left nav">
                        <li><a href="/index.html" data-cont="首页"></a></li>
                        <li><a href="/trade/coinTrade.html" data-cont="交易"></a></li>
                        <li><a class="valid-login" onclick="doLogin('security')" data-cont="安全"></a></li>
                        <li><a href="/other/news.html" class="white" >ICO</a></li>
                        <li><a href="/active/promotion.html" data-cont="ICO 日历"></a></li>
                    </ul>
                    <div class="top-login right top-user">
                        <a href="/user/login.html" class="login" data-cont="登录"></a>
                        <a href="/user/register.html" class="login" data-cont="注册"></a>
                        <a href="/finance/finance.html">
                            <p class="top-user-email jy-email sj_bd"></p>
                        </a>
                        <div id="userinfo" class="userinfo">
                            <div class="userinfo-all">
                                <div class="userinfo-t">
                                    <div class="userinfo-top">
                                        <p><i>ID：</i><span></span><a onclick="logOut()" class="blue" data-cont="退出"></a></p>
                                        <p><i data-cont="总资产："></i>
                                            <font class="is_num" id="balance_total"></font> BTC</p>
                                    </div>
                                    <div class="userinfo-title">
                                        <div class="userinfo-Coin" data-cont="币种"></div>
                                        <div class="userinfo-available" data-cont="可用"></div>
                                        <div class="userinfo-frozen" data-cont="冻结"></div>
                                    </div>
                                </div>
                                <ul id="user-balance">
                                    <div class="listscoll" id="userinfo-list">
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--New start-->
            <div class="index_banner po_re">
                <div id="myCarousel" class="my-carousel">
                    <ol class="my-carousel-indicators">
                        <!-- <li data-slide-to="0" class="active"></li> -->
                    </ol>
                    <div class="my-carousel-inner" id="indexBannerBox">
                        <div class="item active" style="background-image: url(images/01_01_03.banner.png)"></div>
                    </div>
                </div>
                <div class="tit">
                    <div class="big" data-cont="独家ICO服务">Exclusive ICO service for you</div>
                    <div class="small"><span data-cont="拥抱未来"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span data-cont="专业可靠"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span data-cont="价值投资"></span></div>
                </div>
            </div>
            <!-- <section class="xt_top_notice">
                <div class="container po_re">
                    <a href="" id="noticeId">
                        <p class="gfs center"></p>
                    </a>
                    <span><strong class="dollarOrRmbNotice"></strong><strong>/BTC ≈ </strong><strong class="currencySymbol"></strong> <strong class="btcPrice"></strong></span>
                    <a onclick="$(this).parents('.xt_top_notice').hide();" class="fork po_ab">✕</a>
                </div>
            </section> -->
            <!--New end-->
        </div>
        <div class="allPro">
            <div class="w">
                <div class="all_select">
                    <p><span data-cont="ICO项目"></span><span>：</span></p>
                    <span class="sel_type active" data-type="6"><span data-cont="全部"></span><i></i></span>
                    <span class="sel_type" data-type="3"><span data-cont="锁定"></span><i></i></span>
                    <span class="sel_type" data-type="0"><span data-cont="仅展示"></span><i></i></span>
                    <span class="sel_type" data-type="2"><span data-cont="成功"></span><i></i></span>
                    <span class="sel_type" data-type="5"><span data-cont="已结束"></span></span><!--
                    <span class="sel_type" data-type="progress">Progress<i></i></span>
                    <span class="sel_type" data-type="impend">Impend</span> -->
                </div>
                <div class="type_list">
                    <!-- <ul>
                        <a href="">
                            <li class="first">
                                <img src="images/btp_active.jpg" alt="">
                                <span class="locked">Locked</span>
                            </li>
                            <li class="second">
                                <h3 class="title">PUTLINK</h3>
                                <p class="content">
                                    A blockchain system of global crossborder real estate investment and
                                </p>
                                <div class="percentage">
                                    <div class="precentBox"></div>
                                    <h2>42%</h2>
                                    <p>Schedule</p>
                                </div>
                                <div class="crowdData">
                                    <dl>
                                        <dt>14476 ETH</dt>
                                        <dd>Target Amout</dd>
                                    </dl>
                                    <dl class="midd">
                                        <dt>14</dt>
                                        <dd>Lock Remaining</dd>
                                    </dl>
                                    <dl>
                                        <dt>4</dt>
                                        <dd>Supporter</dd>
                                    </dl>
                                </div>
                            </li>
                        </a>
                    </ul>
                    <ul>
                        <a href="">
                            <li class="first">
                                <img src="images/btp_active.jpg" alt="">
                                <span class="locked">Locked</span>
                            </li>
                            <li class="second">
                                <h3 class="title">PUTLINK</h3>
                                <p class="content">
                                    A blockchain system of global crossborder real estate investment and
                                </p>
                                <div class="percentage">
                                    <div class="precentBox"></div>
                                    <h2>42%</h2>
                                    <p>Schedule</p>
                                </div>
                                <div class="crowdData">
                                    <dl>
                                        <dt>14476 ETH</dt>
                                        <dd>Target Amout</dd>
                                    </dl>
                                    <dl class="midd">
                                        <dt>14</dt>
                                        <dd>Lock Remaining</dd>
                                    </dl>
                                    <dl>
                                        <dt>4</dt>
                                        <dd>Supporter</dd>
                                    </dl>
                                </div>
                            </li>
                        </a>
                    </ul> -->
                </div>
            </div>
        </div>
        <div class="feature">
            <div class="w">
                <dl>
                    <dt class="security" data-cont="安全">Security</dt>
                    <dd data-cont="公平，透明的ICO融资服务平台">Fair and transparent ICO financing service platform for the majority</dd>
                </dl>
                <dl>
                    <dt class="integrity" data-cont="完整">Integrity</dt>
                    <dd data-cont="基于对数字货币和区块链的深刻理解">Based on its deep understanding of the digital currency and blockchain</dd>
                </dl>
                <dl>
                    <dt class="justice" data-cont="公平">Justice</dt>
                    <dd data-cont="项目发起人可以在9coin收集用户开始筹款">The project sponsors can initiate fund-raising at 9coin collect user</dd>
                </dl>
                <dl>
                    <dt class="lucency" data-cont="透明">Lucency</dt>
                    <dd data-cont="对项目支持者承诺回报">undertake to pay back the project supporters who discover </dd>
                </dl>
            </div>
        </div>
    </div>
    <script type="text/html" id="type_list_tmpl">
        <ul>
            <a href="detail.html?id=${id}">
                <li class="first">
                    <img src="/${coverPath}" alt="">
                    <span class="{{if baseStatus==0}}show{{else baseStatus==1}}progress{{else baseStatus==2}}success{{else baseStatus==3}}lock{{else baseStatus==4}}impend{{else baseStatus==5}}finish{{/if}}">{{if baseStatus==0}}${lang('仅展示')}{{else baseStatus==1}}${lang('进行中')}{{else baseStatus==2}}${lang('成功')}{{else baseStatus==3}}${lang('锁定')}{{else baseStatus==4}}${lang('即将开始')}{{else baseStatus==5}}${lang('已结束')}{{/if}}</span>
                </li>
                <li class="second">
                    <h3 class="title">{{if $.cookie('lang')=='zh_CN'}}${titleCny}{{else}}${titleEn}{{/if}}</h3>
                    <p class="content">
                        {{if $.cookie('lang')=='zh_CN'}}${introductionCny}{{else}}${introductionEn}{{/if}}
                    </p>
                    <div class="percentage">
                        <div class="precentBox" id="precent${id}" data-dimension="170" data-percent="${(availableNum-leftNum-keepNum)*100/availableNum}" data-fgcolor="#7ea568" data-type="half"></div>
                        <h2>${to_num((availableNum-leftNum-keepNum)*100/availableNum,2)}%</h2>
                        <p data-cont="时间表">Schedule</p>
                    </div>
                    <div class="crowdData">
                        <dl>
                            <dt title="${availableNum*price}">${availableNum*price} ${coinBuyType.fShortName}</dt>
                            <dd>${lang('目标金额')}</dd>
                        </dl>
                        <dl class="midd">
                            <dt>${leftFreezeDate}</dt>
                            <dd>${lang('锁定剩余')}</dd>
                        </dl>
                        <dl>
                            <dt>${supportNum}</dt>
                            <dd>${lang('支持人数')}</dd>
                        </dl>
                    </div>
                </li>
            </a>
        </ul>
    </script>
    <script>
        $(function() {
            doLogin('index');
            // user();
        });
        $(function() {
            $('#wx_link').hover(function() { $('.wx_ma').show(); }, function() { $('.wx_ma').hide() });
        })
    </script>
    <script type="text/javascript" src="/static/customer/js/common/websocket.js"></script>
    <script type="text/javascript" src="/static/customer/js/plugin/jquery.flot.js"></script>
    <footer>
        <div class="footerCore">
            <div class="introduce_list">
                <ul class="">
                    <li class="copyrighthui">Copyright © 2017 BTC98. All rights reserved.</li>
                    <li class="share_area">
                        <span class="share">
                            <a href="http://t.me/btc98" target="_blank" class="tg"></a>
                            <a href="http://shang.qq.com/wpa/qunwpa?idkey=" target="_blank" class="qq"></a>
                            <a href="https://www.facebook.com/btc.li.7" target="_blank" class="fb"></a>
                            <a href="https://twitter.com/BTC98com" target="_blank" class="twitter"></a>
                        </span>
                    </li>
                </ul>
                <ul class="conUs">
                    <li><a href="/other/TermsService.html" data-cont="服务条款"></a></li>
                    <li><a href="/other/rate.html" data-cont="费率说明"></a></li>
                    <li><a href="/other/apiExplain.html" data-cont="API说明"></a></li>
                    <li><a href="/other/contactService.html" data-cont="联系客服"></a></li>
                    <li><a href="/other/aboutUs.html" data-cont="关于我们" class="last"></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="/static/customer/js/common/common.min.js?v=1.0"></script>
    <script type="text/javascript">
    $('.lang,.lanague').hover(
        function() {
            $('.lang').addClass('selected');
            $('.lanague').addClass('selected');
            $('.header').css('z-index', -120);
        },
        function() {
            $('.header').css('z-index', 19);
            $('.lanague').removeClass('selected');
            $('.lang').removeClass('selected');
        }
    );
    $('.total-con').hover(function() { $('.total-con-list').show() }, function() { $('.total-con-list').hide() });
    $('.jy-email,#userinfo').hover(
        function() {
            $('.jy-email').addClass('isHover');
            $('#userinfo').addClass('selected');
            // $('.header').css('z-index', -100);
            $('.hdslide').css('z-index', -100);
            $('.page').css('z-index', -100);
        },
        function() {
            $('.header').css('z-index', 19);
            $('.jy-email').removeClass('isHover');
            $('.email').removeClass('selected');
            $('#userinfo').removeClass('selected');
            $('.hdslide').css('z-index', 0);
            $('.page').css('z-index', 'auto');
        }
    );
    $(function() {
        //获取公告
        $.get(WebHelper.notice + '?type=2&language=' + getLang_notice() + '&t=' + new Date().getTime(), function(d) {
            //$.post('http://192.168.8.46:8081/api/aboutus/queryallannouncement.do','{type:2}',function(d){
            if (d.data && d.data.length > 0) {
                $('.xt_top_notice').find('.center').html(d.data[0]['ftitle']);
                $('#noticeId').attr('href', '/other/noticeDetail.html?groupId=' + d.data[0]['groupId']+'&lang='+$.cookie('lang'))
            }
        })
        //轮播图
        $.get(WebHelper.queryBanner,'',function(result){
            if(result.status==1){
                var d=result.data;
                var str='';
                var strDot='';
                for(var i=0;i<d.length;i++){
                    var eleA='';
                    if(d[i]['fhref']){
                        eleA='<a href="'+d[i]['fhref']+'"></a>'
                    }
                    str+='<div class="item" style="background-image: url(/'+d[i]['furl']+')">'+eleA+'</div>'
                    strDot+='<li data-slide-to="'+i+'"></li>'
                }
                // $('#indexBannerBox').html(str).find('.item').eq(0).addClass('active').css('display','block');
                // $('.my-carousel-indicators').html(strDot).find('li:eq(0)').addClass('active');
                // // startBanner();
                $('.my-carousel-inner .item').show();
            }else{
                $('.my-carousel-inner .item').show();
            }
        })
        getCrowdList(6);
    })
    //轮播图
    function startBanner() {
        var $allItems = $('.my-carousel .my-carousel-inner .item');
        var $allIndicators = $('.my-carousel .my-carousel-indicators li');
        var currentIndex = 0;
        var currentItem = null;
        var nextItem = null;
        var time;
        // $(".my-carousel").hover(function() {
        //     time = window.clearInterval(time)
        // },
        (function() {
            if ($('.my-carousel-inner .item').size() == '1') {
                return false;
            }
            time = setInterval(function() {
                currentItem = $allItems.filter('.active');
                if (currentIndex + 1 === $allItems.length) {
                    nextItem = $allItems.eq(0);
                    currentIndex = 0;
                } else {
                    nextItem = $allItems.eq(currentIndex + 1);
                    currentIndex += 1;
                }
                nextItem.addClass('active').fadeIn(1000);
                $allIndicators.removeClass('active').eq(currentIndex).addClass('active');
                currentItem.removeClass('active').fadeOut(1000);
            }, 5000);
        })();
        // .trigger("mouseleave");
        $(".my-carousel-indicators li").click(function() {
            var nextIndex = parseInt($(this).attr('data-slide-to'));
            if (nextIndex == currentIndex) return false;
            currentIndex = nextIndex;
            currentItem = $allItems.filter('.active');
            currentItem.removeClass('active').fadeOut(1000);
            $allItems.eq(currentIndex).addClass('active').fadeIn(1000);
            $allIndicators.removeClass('active').eq(currentIndex).addClass('active');
        });
    }


    //获取众筹列表
    function getCrowdList(type){
        $.get(WebHelper.crowdList,{sta:type},function(d){
            $('.type_list').html('')
            if(d.status==1){
                if(d.data.length>0){
                    $('#type_list_tmpl').tmpl(d.data).htm('.type_list');
                    paintCircle(d.data);
                }
            }else{
                alert(d.msg)
            }
        })

    }
    $(function(){
        $('.all_select').find('.sel_type').click(function(){
            $(this).addClass('active').siblings().removeClass('active');
            getCrowdList($(this).data('type'))
        })
    })
    //画半弧百分比
    function paintCircle(arr){
        for(var i=0;i<arr.length;i++){
            $('#precent'+arr[i]['id']).circliful();
        }
    }
    </script>
</body>

</html>