.login_button input{width: 294px;}
.index-security .inner dl.dl_1{left: 370px;}
.index-security .inner dl.dl_2{left: 382px;}
.index-security .inner dl.dl_3{left: 20px;width: 224px;}
.index-security .inner dl.dl_4{right: 20px;width: 202px;}
.index-security .inner p{font-size: 14px;top: 292px;font-size: 14px;}
.STARTED dl dd p{margin: 0 15px;}
.login_text input{width: 294px;}
.top-login a.login{width: 76px;}
#area_detail{width: 500px;}
.submit{width: 200px;}
.login_item_l{width: 203px;}
.sign-up-body .box input{width: 410px;}
.box .tel_code{width: 200px;}
.find-pwd-body .box input{width: 410px;}
.find-pwd-body .box .code input{width: 276px;}
.find-pwd-body .box .code{width: 410px;}
.login_item{margin-left: 60px;}
.sign_box input{width: 410px;}
.slider_wrap .market_sliderbox{width: 260px;}
.market_sliderbox .ui-slider{width: 200px;}
.verified .img_box .inner a{width: 100px;}
.verified .img_box .inner p.t{height: 80px;line-height: 24px;margin: 0 10px;}